.sidebar {
    height: 100vh;
    background-color: #FFFFFF;
    display: flex;
    position: fixed;
    flex-direction: column;
    border: 1px solid #ECECEC;
    width: 15%;
}

.link {
    padding-left: 10px;
}

.link-group {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}