.form {
    background-color: white;
    padding: 25px;
    box-shadow: 0px 3px 6px #0000001C;
    border-radius: 15px;
}

.submit-btn {
    margin-top: 20px;
    margin-left: 25px;
    width: 150px;
    background-color: #FFF700;
    color: black;
    border-radius: 23px;
    font-weight: bold;
    border: none;
    padding: 8px;
}

.upload-btn {
    background: #FFF700 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
    width: 100%;
    border: none;
    cursor: pointer;
    overflow: hidden;
    height: 250px;
}

input[type="file"] {
    display: none;
}

.upload-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.onoff {
    margin-left: -27px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    position: relative;
    cursor: pointer;
    width: 55px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .onoff label {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: #EF0031;
    border-radius: 16px;
    font-weight: bold;
    color: #FFF;
    -webkit-transition: background 0.3s, text-indent 0.3s;
    -moz-transition: background 0.3s, text-indent 0.3s;
    -o-transition: background 0.3s, text-indent 0.3s;
    transition: background 0.3s, text-indent 0.3s;
    text-indent: 27px;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4) inset;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4) inset;
  }
  .onoff label:after {
    content: 'No';
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    font-size: 12px;
    color: white;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.35);
    z-index: 1;
  }
  .onoff label:before {
    content: '';
    width: 20px;
    height: 24px;
    border-radius: 16px;
    background: #FFF;
    position: absolute;
    z-index: 2;
    top: 3px;
    left: 3px;
    display: block;
    -webkit-transition: left 0.3s;
    -moz-transition: left 0.3s;
    -o-transition: left 0.3s;
    transition: left 0.3s;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  }
  .onoff input:checked + label {
    background: #00B55B;
    text-indent: 8px;
  }
  .onoff input:checked + label:after {
    content: 'Yes';
    color: white;
  }
  .onoff input:checked + label:before {
    left: 34px;
  }