.body {
    background-color: #FAFAFA;
    height: 100vh;
    margin: 0;
}

.layout {
    padding-top: 80px;
    margin-left: 0px;
    margin-right: 60px;
}

.layout-user {
    padding-top: 80px;
    margin-left: 50px;
    margin-right: 50px;
}

.children {
    padding-top: 20px;
}