.categories {
    display: flex;
    flex-direction: row;
}

table {
    border-collapse: separate;
    border-spacing: 0 20px;
    width: 100%;
    border: none;
}

th, td {
    text-align: center;
    border-radius: 8px;
}
