.my-modal {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }
  
  /* Modal Content/Box */
  .my-modal-content {
    background-color: #fefefe;
    font-size: large;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 80px;
    border: 1px solid #888;
    width: 25%; /* Could be more or less, depending on screen size */
    border-radius: 20px;
  }