.category {
    background-color: white;
    margin: 20px;
    margin-left: 0;
    margin-bottom: 60px;
    flex: 1;
    box-shadow: 0px 3px 6px #B9B9B91C;
    border-radius: 8px;
    opacity: 1;
    height: 80px;
    cursor: pointer;
    color: black;
}

.text {
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
    padding-left: 15px;
    padding-top: 15px;
}